html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header-navbar {
  background-color: #446b77;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  position: sticky; /* bar yapışsın*/
}
.btn {
  display: inline-flex;
  color: #f2efe9;
  font-size: 20px;
  border: none;
  background-color: #446b77;
  font-family: "Open Sans", sans-serif;
}
#btn1 {
  margin-right: 20px;
}

.btn:hover {
  color: #c3d3c6;
  cursor: pointer;
}

.material-symbols-outlined {
  margin-right: 10px;
}
.saveButton {
  background-color: #253137;
  color: white;
  margin: 10px;
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
}
.saveButton:hover {
  background-color: #35434a;
  color: #f2efe9;
}

.delete-button {
  border: none;
  color: red;
}
.update-button {
  border: none;
  color: blue;
  padding-right: 20px;
}
.delete-button:hover {
  color: rgb(160, 0, 0);
}
.update-button:hover {
  color: rgb(2, 2, 132);
}
.delete-p {
  text-align: center;
  margin: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

#confirmDeleteButton {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #253137;
}

#cancelDeleteButton {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #253137;
}
.updateSaveButton {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #253137;
  color: white;
}
.updateLocationButton {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #253137;
  color: white;
}
